@page
@model Tonko_Zsanett_Proiect.Pages.Cumparate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cumparat[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumparat[0].Produs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cumparat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Numecomplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produs.Denumire)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
